<style>
    span {
        color: #dad1d1;
    }
</style>


<footer class="footer bg-dark py-3 mt-auto">
    <div class="d-flex justify-content-around">
        <span>&copy; CampSite 2023</span>
        <span>Designed Developed & Hosted by Salil Saurav.</span>
    </div>
</footer>